* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  .sidebar {
    height: 100vh;
    width: 350px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
  }
  
  .sidebar-logo {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    background-color: #444;
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-links li {
    margin: 10px 0;
  }
  
  .sidebar-links a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 1rem;
  }
  
  .sidebar-links a:hover {
    background-color: #555;
  }
  
  .main-content {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100vh;
  }

  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-title {
    font-size: 15vw;
    text-align: center;
    color: #333;
  }

  .home-subtitle {
    padding: 0 18vw;
    text-align: center;
    color: #333;
  }

  .version {
    padding: 0 18vw;
    text-align: center;
    color: lightslategray;
  }

  /* NZSL */

  .nzsl-content {
    width: 100%;
  }

  #nzsl-search-bar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
  }

  #nzsl-search-bar::placeholder {
    color: #888;
  }

  #nzsl-search-bar:focus {
    outline: none;
    border-color: #333;
    background-color: #eaeaea;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px 0;
  }

  .grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
  }

  
  @media (max-width: 768px) {
    .sidebar {
      height: 100vh;
      width: 80px;
    }
  
    .sidebar-logo {
      font-size: 1rem;
    }
  
    .sidebar-links a {
      text-align: center;
      padding: 10px;
    }
  
    .link-text {
      display: none;
    }
  
    .main-content {
      display: flex;
      margin-left: 0px;
    }

    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }