* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
  }

  .center-flex {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .page-headings h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  .login-heading {
    text-align: center;
  }
  
  .sidebar {
    height: 100vh;
    width: 350px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .version {
    bottom: 0;
  }
  
  .sidebar-logo {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    background-color: #444;
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-links li {
    margin: 10px 0;
  }
  
  .sidebar-links a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.7s, color 0.7s;
}

  .sidebar-links a:hover {
    background-color: #555;
  }

  .sidebar-links a.active {
    background-color: #BBB;
    color: black;
  }
  
  .main-content {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
  }

  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-title {
    font-size: 15vw;
    text-align: center;
    color: #333;
  }

  .home-subtitle {
    padding: 0 18vw;
    text-align: center;
    color: #333;
  }

  .version {
    padding: 0 18vw;
    text-align: center;
    color: lightslategray;
  }

  /* NZSL */
  .nzsl-content {
    width: 100%;
  }

  #nzsl-search-bar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
  }

  #nzsl-search-bar::placeholder {
    color: #888;
  }

  #nzsl-search-bar:focus {
    outline: none;
    border-color: #333;
    background-color: #eaeaea;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px 0;
  }

  .grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
  }

  .events-content {
    width: 100%;
  }

  /* Events */
  .events-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    background-color: #f9f9f9;
  }

  .event-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .event-date {
    background-color: #ffb74d;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 100px;
  }

  .event-details {
    flex: 1;
    margin-left: 20px;
  }

  .event-details h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffb74d;
  }

  .event-details p {
    margin: 5px 0;
  }

  .event-icon {
    display: flex;
    align-items: center;
  }

  .icon-btn {
    background-color: #555;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .icon-btn img {
    width: 25px;
    height: 25px;
  }

  .icon-btn:hover {
    background-color: #ffb74d;
  }



  /* Registration */
  .user-registration-container {
    width: 20.5vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  #registration-form {
    display: flex;
    flex-direction: column;
  }

  #registration-form label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
  }

  #registration-form input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem ;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  #registration-form input:focus {
    outline: none;
    border-color: #333;
    background-color: #eaeaea;
  }

  #registration-form input::placeholder {
    color: #888;
  }

  #register-button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #register-button:hover {
    background-color: #555;
  }

  .guest-book-content {
    width: 100%;
  }

  .guest-book-container {
    margin: 0 auto;
    /* padding: 20px; */
    background-color: #f9f9f9;
    /* border-radius: 5px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }

  #comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    resize: none;
  }

  #comment-input:focus {
    outline: none;
    border-color: #333;
    background-color: #eaeaea;
  }

  #post-comment-button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #post-comment-button:hover {
    background-color: #555;
  }

  .recent-comments {
    margin-top: 20px;
  }

  .recent-comments h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  #comments-list {
    list-style-type: none;
    padding: 0;
  }

  #comments-list li {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #footer {
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-left: 350px;
    font-size: 0.8rem; /* Small font size */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0; /* Ensure it's on top of other elements */
  }

  #footer p {
    margin: 0;
    font-weight: 300;
  }

  
  @media (max-width: 768px) {
    .sidebar {
      height: 100vh;
      width: 80px;
    }
  
    .sidebar-logo {
      font-size: 1rem;
    }
  
    .sidebar-links a {
      text-align: center;
      padding: 10px;
    }
  
    .link-text {
      display: none;
    }
  
    .main-content {
      display: flex;
      margin-left: 0px;
    }

    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .user-registration-container {
      width: 60vw;
    }

    #footer {
      padding-left: 80px;
    }
  }