body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* NAVBAR */
nav {
    background-color: #333;
    padding: 0.5em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
    margin-right: 1em;
}

.navbar a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

.page {
    padding: 2em;
}

/* LOGO */
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.home-content img {
    height: 45vh;
}

.home-content h1 {
    margin: 0;
}

/* NZSL */
.nzsl-content {
    width: 100%;
  }

  #nzsl-search-bar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
  }

  #nzsl-search-bar::placeholder {
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
  }

  #nzsl-search-bar:focus {
    outline: none;
    border-color: #333;
    background-color: #eaeaea;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
  }

  .grid-item {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
  }

  .grid-img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
    max-height: 200px;
}


.guest-book-content {
    width: 100%;
  }

  #comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    resize: none;
  }

  #comment-input:focus {
    outline: none;
    border-color: #333;
    background-color: #eaeaea;
  }

  #comment-input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
  }

  #post-comment-button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #post-comment-button:hover {
    background-color: #555;
  }

  .recent-comments {
    margin-top: 20px;
  }

  .recent-comments h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  #comments-list {
    list-style-type: none;
    padding: 0;
  }

  #comments-list li {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #register-button, #login-button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #register-button:hover, #login-button:hover {
    background-color: #555;
  }


  .graph-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dates-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 5px;
  }

  #graph-container {
    width: 700px;
    height: 400px;
  }

  .start-date, .end-date {
    font-size: x-large;
  }


/* Responsive */
@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 0.5em;
        margin-right: 0;
    }

    .navbar a {
        display: block;
        margin: 0.5em 0;
    }
}
