.selectedSec {
    color: blue;
    font-size: 48px;
    text-align: center;
}

.town {
    background-color: blanchedalmond;
}

#selectedTown {
    background-color: yellow;
    color: blue;
}

body {
    background-color: linen;
}

.menuItem {
    margin: 3ex;
    padding: 1ex;
    flex-basis: 20%;
    text-align: center;
}