body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* NAVBAR */
nav {
    background-color: #333;
    padding: 0.5em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
    margin-right: 1em;
}

.navbar a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

.page {
    padding: 2em;
}

/* LOGO */
.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.home-content img {
    height: 45vh;
}

.home-content h1 {
    margin: 0;
}

/* Responsive */
@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 0.5em;
        margin-right: 0;
    }

    .navbar a {
        display: block;
        margin: 0.5em 0;
    }
}
